# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
*.env

# Virtual environments
.venv/
venv/
env/
ENV/

# Database
*.sqlite3
db.sqlite3

# Django
*.log
media/
staticfiles/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Docker
docker-compose.override.yml

# Distribution
build/
dist/
*.egg-info/